<div class="text-field">
  <%= form.text_field :email, type: 'email', class: "textfield", placeholder: "E-mail" %>
</div>

<div class="password-field">
  <%= form.password_field :password, class: "textfield", placeholder: "Password" %>
</div>
